Repository kubevirt/kubevirtci, pull requests merged in 2025-01, with the labels that each got.

#1344 cluster-up, kind: all to exec command via ssh.sh and add port mapping for kind cluster
  cluster-up/cluster/kind-1.28/provider.sh
  cluster-up/cluster/kind-1.31/provider.sh
  cluster-up/cluster/kind/common.sh
Labels: size/S, kind/enhancement, approved, lgtm, dco-signoff: yes

#1350 Upgrade rook ceph to latest
  cluster-provision/gocli/opts/rookceph/manifests/0crds.yaml
  cluster-provision/gocli/opts/rookceph/manifests/0groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  cluster-provision/gocli/opts/rookceph/manifests/0groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
  cluster-provision/gocli/opts/rookceph/manifests/0groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
  cluster-provision/gocli/opts/rookceph/manifests/0snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  cluster-provision/gocli/opts/rookceph/manifests/0snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  cluster-provision/gocli/opts/rookceph/manifests/0snapshot.storage.k8s.io_volumesnapshots.yaml
  cluster-provision/gocli/opts/rookceph/manifests/1common.yaml
  cluster-provision/gocli/opts/rookceph/manifests/cluster-test.yaml
  cluster-provision/gocli/opts/rookceph/manifests/operator.yaml
  cluster-provision/gocli/opts/rookceph/manifests/pool-test.yaml
  cluster-provision/gocli/opts/rookceph/manifests/rbac-snapshot-controller.yaml
  cluster-provision/gocli/opts/rookceph/manifests/setup-snapshot-controller.yaml
Labels: size/XXL, kind/enhancement, sig/storage, approved, lgtm, dco-signoff: yes

#1348 kind, check-cluster-up: Enable Kubevirt CPUManager FG when SR-IOV provider is tested
  cluster-up/cluster/kind/check-cluster-up.sh
Labels: size/XS, kind/enhancement, approved, lgtm, dco-signoff: yes

#1357 provision: Clean up old images from extra-pre-pull-images
  cluster-provision/k8s/1.30/extra-pre-pull-images
  cluster-provision/k8s/1.31/extra-pre-pull-images
  cluster-provision/k8s/1.32/extra-pre-pull-images
Labels: size/M, approved, lgtm, dco-signoff: yes, kind/cleanup

#1359 nfs-csi: Increase timeout for pvc to reach bound state
  cluster-provision/gocli/opts/nfscsi/nfs-csi.go
Labels: size/XS, approved, lgtm, dco-signoff: yes, kind/flake

#1299 Kubelet drop in
  cluster-provision/k8s/1.30/k8s_provision.sh
  cluster-provision/k8s/1.31/k8s_provision.sh
  cluster-provision/k8s/1.32/k8s_provision.sh
Labels: size/M, kind/enhancement, approved, lgtm, dco-signoff: yes

#1347 cluster-up, kind, common: Enable TopologyManager for kind-sriov
  cluster-up/cluster/kind-sriov/provider.sh
  cluster-up/cluster/kind/common.sh
Labels: size/S, kind/enhancement, approved, lgtm, dco-signoff: yes

#1354 fix: gocli startup in s390x architecture
  cluster-up/cluster/ephemeral-provider-common.sh
Labels: size/XS, kind/bug, approved, lgtm, dco-signoff: yes
